body {
  margin-top: 30px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 2.7rem;
  color: #585858;
  margin-bottom: 0px;
}

.xcm-price {
  color: #6e6e6e;
  font-size: 20px;
  margin: 0 0 30px 0;
}

a {
  text-decoration: none;
}

span.xcm-price-value {
  text-decoration: underline;
  color: #7575f7;
}

.coinmetro-site {
  display: inline-block;
  text-decoration: none;
  background: #8383ff;
  color: #fff;
  padding: 20px 50px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.discord-text {
  color: #7288da;
  font-size: 16px;
  margin-bottom: 0;
}

.discord-logo {
  width: 300px;
}